.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(242, 240, 223);
}

.logo {
    color: black;
    text-decoration: none;
    font-size: 1.6rem;
}

.session {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.session button {
    border-radius: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.session a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

@media (max-width: 650px) {
    .header{
        flex-direction: column;
        gap: 0.1rem;
    }
    .search {
        font-size: 1rem;
        max-width: 18rem;
        margin: 1rem;
    }
}